[Desktop Entry]
Type=Application
Name=NavGator
Comment=A web browser with a native chrome compositing the Servo engine
Exec=navgator
Icon=navgator
Categories=Network;WebBrowser;
Terminal=false
