[Desktop Entry]
Type=Application
Name=NavGator
Comment=A web browser whose UI is HTML rendered by the Servo engine
Exec=navgator
Icon=navgator
Categories=Network;WebBrowser;
Terminal=false
